@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 300ms;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
}

body {
    font-family: 'Outfit', sans-serif;
    background-image: url(../images/pattern-background-desktop.svg);
    background: var(--pale-blue) no-repeat;
}

:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(225, 100%, 98%);
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 450px;
    background: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 0px 0px 30px -10px var(--desaturated-blue);
}

.card__img img {
    width: 100%;
    height: 100%;
    border-radius: 20px 20px 0px 0px;
    -webkit-border-radius: 20px 20px 0px 0px;
    -moz-border-radius: 20px 20px 0px 0px;
    -ms-border-radius: 20px 20px 0px 0px;
    -o-border-radius: 20px 20px 0px 0px;
}

.card__content {
    padding: 3.125rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.card__content h3 {
    font-size: 2rem;
    font-weight: 700;
}

.card__content p {
    color: var(--desaturated-blue);
    padding: 0px 1rem;
}

.card__content__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1.5rem;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background: var(--very-pale-blue);
}

.item-cost {
    display: flex;
    align-items: center;
    gap: 20px;
}

.card__btn,
.card__btn--cancel {
    margin-bottom: 1rem;
    display: block;
    padding: 1rem;
    background: var(--bright-blue);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.card__content__item a:hover {
    color: #766cf1;
    text-decoration: none;
}

.card__btn:hover {
    background: #766cf1;
    text-decoration: none;
}

.card__btn {
    box-shadow: 0px 20px 30px -10px #776cf165;
}

.card__btn--cancel {
    color: var(--desaturated-blue);
    background: transparent;
}

.card__btn--cancel:hover {
    color: #1b253e;
}

@media (max-width:375px) {
    body {
        background-image: url(../images/pattern-background-mobile.svg);
    }
    .card {
        width: 325px;
        height: 565px;
        margin: 0px 25px;
    }
    .card__content {
        padding: 1.5rem;
    }
    .card__content__item {
        padding: 1rem;
    }
    .card__content h3 {
        font-size: 1.5rem;
    }
}